<div class="row">
    <div class="breadcrumb">
        <ul class="encapsula-breadcrumb">
            <li><a href="{$URL}home">HOME / </a></li>
            <!-- <li><a href="{$URL}calhas.php?idMarca={$dados[0].idMarca}">{$dados[0].tituloMarca} / </a></li> -->
            {if $url[0] == "calha"}
                <li><a href="{$URL}calhas">CALHAS / </a></li>
                <li><a href="{$URL}calhas/{$dados[0].idMarca}">{$dados[0].tituloMarca} / </a></li>
                {if $url[3]}
                    <li><a href="{$URL}calhas/{$dados[0].idMarca}/{$url[2]}">{$dados[0].nmModelo} / </a></li>
                {/if}
                <li class="active">{$dados[0].descricao}</li>
            {else}
                {if $url[2]}
                    <li><a href="{$URL}calhas">CALHAS / </a></li>
                    <li><a href="{$URL}calhas/{$dados[0].idMarca}">{$dados[0].idMarca} / </a></li>
                    <li class="active">{$dados[0].tituloModelo} </li>
                {elseif $url[1]}
                    <li><a href="{$URL}calhas">CALHAS / </a></li>
                    <li class="active">{$dados[0].nmMarca}</li>
                {else}
                    <li class="active">{$breadCrumb}</li>
                {/if}
            {/if}
        </ul>
    </div>
</div>