<!-- Desktop -->
<ul class="menu-lateral-produto">
    <li class="linha-menu-produto">
        <ul>
            {assign var="nmTipo" value=$nmTipo|default:""}
            {section name=i loop=$menuLateral}
                {if $nmTipo <> $menuLateral[i].marca}
                    </ul>
                </li>
                <li class="linha-menu-produto menu-produto-icon">
                        <img class="img-marca-lateral" src="{$menuLateral[i].caminhoImagem}" alt="{$menuLateral[i].marca}" title="{$menuLateral[i].marca}">
                        <a class="link-menu-produto" href="javascript: void(0)">{$menuLateral[i].marca}</a>
                    <ul class="submenu-produto-lateral">
                    {/if}
                    <li class="linha-submenu-produto">
                        <a class="link-submenu-produto" href="calhas.php?idMod={$menuLateral[i].idModelo}">{$menuLateral[i].modelo}</a>
                    </li>
            {assign var="nmTipo" value=$menuLateral[i].marca}
            {/section}
        </ul>
    </li>
</ul>
<!-- Desktop -->

<!-- Mobile -->
<div class="menu-lateral-produto-mobile">
    <h2 class="titulo-destaque-pag pull-left">Marcas/Modelo</h2>
    <select class="mod-mobile" name="mod-mobile">
        <option>Selecione um modelo</option>
        {assign var="nmTipo" value=$nmTipo|default:""}
        {section name=i loop=$menuLateral}
            {if $nmTipo <> $menuLateral[i].marca}
                <option class="marca-mob" {if $idMarca == $menuLateral[i].idMarca} selected {/if} value="_m{$menuLateral[i].idMarca}">{$menuLateral[i].marca}</option>
            {/if}
            <option class="select-modelo-mob" {if $idMod == $menuLateral[i].idModelo} selected {/if} value="{$menuLateral[i].idModelo}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$menuLateral[i].modelo}</option>
            {assign var="nmTipo" value=$menuLateral[i].marca}
        {/section}
    </select>
</div>
<!-- Mobile -->