<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trabalhamos com diversas marcas de carros.</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Calhas de chuva automotivas de diversas marcas como Nissan, Volkswagen, Hyundai, Citroen, Toyota" />
    <link href="commom/img/icon-tab.png" rel="icon">
    <link href="commom/css/bootstrap.min.css" rel="stylesheet">
    <link href="commom/css/estilo.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid pd-none">
        {include file="inc/header.html"}
        <div class="row hidden-xs">
            <img class="img-banner-interna" src="commom/img/banner-produto.jpg" alt="calhas automotivas" title="calhas automotivas">
            <h1 class="titulo-interna">calhas automotivas</h1>
        </div>
        <section class="conteudo">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    {include file="inc/menu-produtos.html"}
                </div>  
                <div class="col-xs-12 col-sm-9 col-md-9 bloco-produtos-interna"> 
                
                    <!-- <h2 class="titulo-destaque-pag">Não existe resultados para: "{ $postBusca }"</h2> -->
                    {if $dados}
                        <p class="txt-interna">Os produtos comercializados pela Ecoflex têm como objetivo trazer conforto e segurança em seu automóvel nos dias de chuva!  Com a calha de chuva a água da chuva não entrará no interior do veículo e evita que os vidros embacem.</p>
                        
                        <div class="row encapusla-produtos-interna">
                            {section name=i loop=$dados}
                                <div class="col-xs-12 col-sm-4 col-md-4 produto-home">
                                    {if $dados[i].super == 1}
                                        <div class="super-produto-home">
                                            <p class="txt-super-produto">Super Calha</p>
                                        </div>
                                    {/if}
                                    <div class="bloco-produto-home">
                                        {if $dados[i].caminhoImagem}
                                            <img src="{$dados[i].caminhoImagem}" title="{$dados[i].descricao}" alt="{$dados[i].descricao}">
                                        {else}
                                            <img src="commom/img/sem-foto.jpg" title="{$dados[i].descricao}" alt="{$dados[i].descricao}">
                                        {/if}
                                        <p class="txt-produto-home">{$dados[i].descricao}</p>
                                        <a href="calha.php?id={$dados[i].id}" class="btn-default" alt="Saiba mais sobre {$dados[i].descricao}" title="Saiba mais {$dados[i].descricao}">
                                            <img src="commom/img/icon-mais.png" alt="icone mais" title="icone mais">
                                            saiba mais
                                        </a>
                                    </div>
                                </div>
                            {/section}
                        </div>
                        <div class="bloco-paginacao">
                            {if $totalPaginas > 1}
                                <a href="calhas.php" class="seta-pagin pull-left"> << </a>
                                {section start=1 name=j loop=$Numpaginas}
                                    {if $idMarca}
                                        <a class="link-paginacao {if $Numpaginas[j] == $smarty.get.p} link-paginacao-ativo {/if}" href="calhas.php?p={$Numpaginas[j]}&idMarca={$idMarca}">{$Numpaginas[j]}</a>
                                    {elseif $postBusca}
                                        <a class="link-paginacao {if $Numpaginas[j] == $smarty.get.p} link-paginacao-ativo {/if}" href="calhas.php?p={$Numpaginas[j]}&busca={$postBusca}">{$Numpaginas[j]}</a>
                                    {else}
                                        <a class="link-paginacao {if $Numpaginas[j] == $smarty.get.p} link-paginacao-ativo {/if}" href="calhas.php?p={$Numpaginas[j]}">{$Numpaginas[j]}</a>
                                    {/if}
                                {/section}
                                <a href="calhas.php" class="seta-pagin pull-right">  >> </a>
                            {/if}
                        </div>
                    {else}
                        <h1 class="titulo-destaque-pag align-left">Nenhum resultado encontrado por "{$postBusca}"</h1>
                    {/if}
                </div>
            </div>
        </section>
        {include file="inc/footer.html"}